<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View Archive</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">SA EPE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/create">New Eval <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/approve">Pending Evals <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/archive">Archived Evals <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="/">Logout</a>
    </span>
  </div>
</nav>
    <h1>This is a dummy archive page. Press the home button or a link.</h1>

    <p>The dummy functions on the server end are generating MongoDB ids rather than fetching them from the database.</p>
    <p>This page is basically identical to the /approve page, and the two can possibly be merged to avoid redundancy.</p>

    {{#if id}}
    <p>You clicked the link for the form with id: {{id}}</p>
    {{/if}}

    {{#if epeForm}}
    <p><b>Name:</b> {{epeForm.name}}</p>
    <p><b>SAP:</b> {{epeForm.SAPNumber}}</p>
    <p><b>Form Content:</b> {{epeForm.form.formContent}}</p>
    <p><b>Archived on:</b> {{archivedOn}}</p>
    {{/if}}

    <table>
      <tr>
        <th>SAP Number</th>
        <th>Employee Name</th>
        <th>Form ID</th>
        <th>Link</th>
      </tr>
      {{#each arrayOfForms}}
      <tr>
        <td>{{this.SAPNumber}}</td>
        <td>{{this.name}}</td>
        <td>{{this._id}}</td>
        <td><a href="/archive/{{this._id}}">Link to Form</a></td>
      </tr>
      {{/each}}
    </table>

    <form action="/home" method="get">
      <input type="submit" value="Home">
    </form>

  </body>
</html>
